{{ define "main" }}
    <div class="bg-black w-full px-0 h-screen flex items-center justify-center">
        <div class="bg-darkgray border-none flex flex-col items-center justify-center px-24 py-8 rounded-none shadow-2xl">
            <h2 class="text-9xl font-Source-Code-Pro tracking-wider text-white">404</h2>
            <p class="text-5xl font-Source-Code-Pro tracking-wider text-white mt-4">Page Not Found</p>
            <p class="text-white font-Source-Code-Pro mt-4 pb-4 text-center">Sorry, the page you are looking for could not be found.</p>
            <a href="{{ .Site.BaseURL }}" class="flex items-center space-x-2 bg-red hover:bg-red-700 text-white px-4 py-2 mt-6 rounded-none transition duration-150" title="Return Home">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                </svg>
                <span>Return Home</span>
            </a>
        </div>
    </div>
{{ end }}