<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center pb-12">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white not-prose">
            Check our awesome team members
        </h1>
    </div>

    <div class="flex grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="w-full bg-darkgray rounded-none sahdow-lg overflow-hidden flex flex-col justify-center items-center">
            <div>
                <img class="object-center object-cover h-auto w-full" src="https://pbs.twimg.com/profile_images/1319974016585781248/aBOoIvQV_400x400.jpg" alt="photo">
            </div>
            <div class="text-center py-8 sm:py-6">
                <p class="text-xl text-white font-bold mb-2">Justin Wagner</p>
                <p class="text-base text-gray-400 font-normal">Founder</p>
            </div>
        </div>
    </div>
</section>
