    <div class="flex flex-col col-span-1 row-span-1 rounded-none shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
            <a href="{{ .Permalink }}">
                {{ with .Params.headerImage}}
                <img class="h-48 my-0 w-full object-cover" src="{{ . | relURL}}" alt="">
                {{ end }}
            </a>
        </div>
        <div class="flex-1 bg-darkgray p-6 flex flex-col justify-between">
            <div class="flex-1">
                <p class="text-sm font-medium text-red">
                    <a href="#" class="hover:underline"> Article </a>
                </p>
                <a href="{{ .Permalink }}" class="block mt-2">
                    <p class="text-xl font-semibold text-white hover:text-red">{{ .Title | markdownify }}</p>
                    <p class="mt-3 text-base text-gray-50">
                        {{ if .Summary }}
                            {{ if gt (len .Summary) 150 }}
                                {{slicestr .Summary 0 150 | safeHTML}}...
                            {{ else }}
                                {{ .Summary}}
                            {{ end }}
                        {{ else }}
                            {{ slicestr .Description 0 150 | safeHTML}}
                        {{ end }}
                    </p>
                </a>
            </div>

            <div class="mt-6 flex items-center">
                {{/*  <div class="flex-shrink-0">
                    {{- range .Params.authors}}
                        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                        <a href="{{ .Permalink }}">
                            <span class="sr-only">{{ .Params.name }}</span>
                            <img class="h-10 w-10 rounded-full" src="{{ .Params.photo }}" alt="{{ .Params.name}}">
                        </a>
                        {{ end }}
                    {{ end }}
                </div>  */}}
                <div class="ml-3">
                    {{/*  {{- range .Params.authors}}
                        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                        <p class="text-sm font-medium text-gray-50">
                            <a href="{{ .Permalink }}" class="hover:text-red"> {{ .Params.name }} </a>
                        </p>
                        {{ end }}
                    {{ end }}  */}}
                    <div class="flex space-x-1 text-sm text-gray-50">
                        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }} </time>
                        <span aria-hidden="true"> &middot; </span>
                        <span> {{ .ReadingTime }} min </span>
                    </div>
                </div>
            </div>
        </div>
    </div>